---
Checks: '-*,
bugprone-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
hicpp-exception-baseclass,
hicpp-avoid-goto,
modernize-*,
-modernize-concat-nested-namespaces,
-modernize-use-trailing-return-type,
-modernize-use-using,
performance-*
 '
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            rkowalewski
CheckOptions:
...

