---
Checks: '*,
 -fuchsia-*,-google-*,-zircon-*,-abseil-*,
 -modernize-use-trailing-return-type,
 -modernize-use-using,
 -cert-*
 '
WarningsAsErrors: ''
FormatStyle:     none
User:            rkowalewski
...

