[submodule "external/libmorton"]
	path = external/libmorton
	url = git@github.com:rkowalewski/libmorton.git
[submodule "external/tlx"]
	path = external/tlx
	url = git@github.com:rkowalewski/tlx.git
[submodule "external/dbg-macro"]
	path = external/dbg-macro
	url = git@github.com:sharkdp/dbg-macro.git
[submodule "external/google/benchmark"]
	path = external/google/benchmark
	url = git@github.com:google/benchmark.git
[submodule "external/GSL"]
	path = external/GSL
	url = git@github.com:microsoft/GSL.git
