[submodule "external/libmorton"]
	path = external/libmorton
	url = git@github.com:rkowalewski/libmorton.git
[submodule "external/tlx"]
	path = external/tlx
	url = git@github.com:rkowalewski/tlx.git
[submodule "external/dbg-macro"]
	path = external/dbg-macro
	url = git@github.com:sharkdp/dbg-macro.git
[submodule "external/google/benchmark"]
	path = external/google/benchmark
	url = git@github.com:google/benchmark.git
[submodule "external/GSL"]
	path = external/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "mimalloc"]
	path = mimalloc
	url = git@github.com:microsoft/mimalloc.git
[submodule "external/snmalloc"]
	path = external/snmalloc
	url = git@github.com:microsoft/snmalloc.git
[submodule "external/junction"]
	path = external/junction
	url = https://github.com/preshing/junction.git
[submodule "external/turf"]
	path = external/turf
	url = https://github.com/preshing/turf.git
